<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferma BoCO</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        <h1>Bine ați venit la Ferma BoCO!</h1>
        <h2>Marfă de Dănești: când mănânci, întinerești!</h2>
        <img src="/vacute.png" alt="o vaca grasa" title="salllut" width="500" height="300">
        
        <h2>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        </h2>
    </center>

    <div id="continut-principal">
        <h3>Despre proiect</h3>
        <p>
            Aplicația web <strong>Ferma BoCO</strong> este concepută pentru administrarea eficientă a fermei noastre de familie.
        </p>

        <table border="1" width="100%" bgcolor="#f1f8e9" align="center">
            <tr>
                <th colspan="2" bgcolor="#4CAF50" align="center" valign="middle">Oferta Ferma BoCO</th>
            </tr>
            <tr>
                <td width="50%" align="center">
                    <a href="/magazin">Vizitează Magazinul (Necesar Login)</a>
                </td>
                <td width="50%" align="center">
                    <a href="/register">Vrei să devii client? Înregistrează-te!</a>
                </td>
            </tr>
        </table>

        </div>
</body>
</html>